html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*END CSS RESET */


@font-face {font-family: altCondensedSemibold;src: url(fonts/ProximaNovaAltcondensedSemibold.ttf);}
@font-face {font-family: novaThin;src: url(fonts/ProximaNovaThin.ttf);}
@font-face {font-family: semiBold;src: url(fonts/ProximaNovaSemibold.ttf);}

#mainPage{
    background:#e8e7e7;
    min-height: 100vh;
    padding:25px 0px;
}
.container{
	max-width:1200px;
}
.form-container{
    background:#fff;
    text-align: center;
    padding:0 100px;
}
.img-logo{
    max-width: 100px;
    margin-top:50px;
    margin-bottom: 20px;
}
.form--header h1{
    font-size: 187.5%;
    font-family: altCondensedSemibold;
    text-transform: uppercase;
    color:#6d6767;
    margin-bottom: 30px;
}
.form--body input[type='text'],.form--body input[type='password']{
    border: none;
    height:40px;
    border:1px solid #eeebeb;
    border-radius: 5px;
    box-shadow: none;
    margin-bottom: 15px;
    font-family: novaThin;
    color:#afaaaa;
    font-size:100%;
    color:#000;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: novaThin;
    color:#afaaaa;
    font-size:100%;
}
.form--body input[type='submit']{
    font-family: altCondensedSemibold;
    font-size:125%;
    color:#ffffff;
    background:#eeb10c;
    border:none;
    border-radius: 0px;
    padding:10px 0;
    width:100%;
    margin-bottom: 40px;
    margin-top: 15px;
}
.form--footer{
    position: relative;
}
.form--footer:before{
    position: absolute;
    content:'';
    display: block;
    left:10%;
    top:0px;
    width: 75%;
    height: 1px;
    background: #e0dcdc;
}
.form--footer a{
    font-style: novaThin;
    color:#7f95f4;
    font-size: 100%;
    font-style:italic;
    display: inline-block;
    margin:20px 0 65px 0;
    text-decoration: none;
}
.message{
    font-size: 90%;
    font-family: novaThin;
    font-weight: bold;
    color: #b12119;
}

#myCarousel{
    max-width:500px;
}
.carousel-indicators{
    bottom:-30px;
}

.carousel-indicators li {
    display: inline-block;
    width: 30px;
    height: 5px;
    text-indent: -999px;
    cursor: pointer;
    background:#b4afa3;
    border:none;
    border-radius: 0px;
}
.carousel-indicators .active
{  width: 30px;
    height: 5px;
    margin: 1px;
    background:#eeb10c;
}
.item img{
    display: block;
    margin:0 auto;
    max-width: 100%;
}
.mainPage{
    background:#e8e7e7;
    overflow-x: hidden;
}
.mainPage header{
    background:#ffffff;
    padding:15px 0;
    position: relative;
    -webkit-box-shadow: 0px 26px 30px -13px rgba(203,199,199,1);
    -moz-box-shadow: 0px 26px 30px -13px rgba(203,199,199,1);
    box-shadow: 0px 26px 30px -13px rgba(203,199,199,1);
}
.left-col{
    float:left;
}
.right-col{
    float:right;
}
.left-col img{
    max-width: 90px;
    display: inline-block;
}
.foodAppName{
    display: inline-block;
    margin-left:15px;    
    position: relative;
    top:-33px;
    font-size:160%;
    color:#6d6767;
    font-family: altCondensedSemibold;
}
.right-col{
    margin-top:40px;
}
.right-col .fa{
    font-size: 100%;
    color:#7b7272;
    margin-right:5px;
}
.right-col a,.icon{
    font-size: 100%;
    color:#7b7272;
    font-family: novaThin;   
    text-decoration: none;
}
.icon{
    float:right;
    margin-top:30px;
    font-size:120%;
}
.right-col a:hover .fa,.right-col a:hover{
    color:#000000; 
    transition: .8s all;
}
.right-col a:hover .fa{
    border-bottom:2px solid #000000;
    padding-bottom:10px;    
}
.right-col ul{
    list-style: none;
}
.right-col ul li{
    display: inline-block;
    margin-left:10px;
}
.right-col ul li:nth-child(4){
    margin-left:50px;
}
.navActive a{
    color:#edb727;    
    font-weight: bold;
}
.navActive .fa{
    padding-bottom: 10px;
    border-bottom:2px solid #edb727;
    color:#edb727;
    font-weight: bold;
}
#mobile{
    z-index: 3;
}
#mobile li{
    list-style: none;
    display: block;
}
#mobile a{
    font-size: 100%;
    color:#fff;
    font-family: novaThin;   
    text-decoration: none;
}
#mobile li{
    padding:20px;
}
.icon{
    display: none;
}
#mobile{
    position: absolute;
    background:#edb727;
    width: 100%;
    text-align: center;
}
#mobile a:hover{
    color:#000;
    padding-bottom: 5px;
    border-bottom: 2px solid #000;
    transition: 1s all;
}
.mobile-navActive a{
    color:#000;
    padding-bottom: 5px;
    border-bottom: 2px solid #000;
}
.circumplex-model{
    background:#ffffff;
    position: relative;
}

.displayNone{
    top:-9999px;
    display: none;
}
.displayBlock{
    left:0%;
    top:79px;
    display: block;
    transition: .5s all;

}
/* VERTICAL LINE */
.circumplex-model:before{
    position: absolute;
    content:"";
    display: inline;
    left: 50%;
    top:0%;
    height:100%;
    background:#c6c0c0;
    width:1px;
}
/*HORIZONTAL LINE*/
.circumplex-model:after{
    position: absolute;
    content:"";
    display: inline;
    left: 0%;
    top:50%;
    width: 100%;
    background:#c6c0c0;
    height:1px;
}
.label{
    position: absolute;
    text-transform: uppercase;
    font-size:100%;
    color:#7b7272;
    z-index: 2;
    font-weight: bold;
    font-family: altCondensedSemibold;
}
.top{
    left:44%;
}
.right{
    right:0%;
    top:46%;
}
.left{
    left:0%;
    top:46%;
}
.bottom{
    bottom:0%;
    left:44%;
}
#visualization{
    margin-top:20px;
}
.circumplexTitle,.statTitle,.recentEntriesHeader{
    background: #ffffff;
    color: #edb727;
    font-family: novaThin;
    font-size: 100%;
    font-weight: bold;
    display: inline-block;
    padding: 10px 10px 10px 20px;
    border: 1px solid #edb727;
}
#statChart{
    height: 500px;
}
.circumplexFood{
    position: absolute;
    text-align: center;
    z-index: 1;
}
.circumplexFood:hover .circumplexFoodImg{
    cursor: pointer;
    transform: scale(1.1);
    transition: .5s all;
}
.circumplexFood:hover .circumplexFoodName{
    font-size: 100%;
    font-weight: bold;
    padding-left:5px;
    background:#efefef;
    color:#000;
    border-left:2px solid #000;
    transition: .5s all;

}
.circumplexFoodName{
    font-size: 87.5%;
    color:#a79797;
    font-family: novaThin;
}
.circumplexFoodImg{
    max-width: 40px;
    border-radius: 50%;
}
#recent-entries{
    margin-top:50px;
    margin-bottom: 20px;
}
.recentEntriesImg{
    width:100%;
    padding:5px;
    background:#fff;
    margin-bottom: 10px;
}
.recentEntriesDesc{
    padding:5px;
    background:#fff;
}
.recentFoodName{
    font-size:100%;
    color:#514f4b;
    font-family: novaThin;
    padding-bottom: 5px;
    border-bottom: 1px solid #abaaa7;
    margin-bottom: 5px;
    font-weight: bold;
    text-transform: uppercase;
}
.recentEntriesDate{
    font-size: 100%;
    color:#99958b; 
    font-family: novaThin;
}
.addEntry-header--container{
    background:#fff;    
    text-align: center;
    margin-top:30px;
    padding:10px 0;
}
.addEntry--header{
    font-size:187.5%;
    color:#847f7f;
    text-transform: uppercase;
    font-family:semiBold;
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 2px solid #847f7f;
}
.addEntry-body--container{
    background: #fff;
    padding:20px 0;
}
.mealName{
    color:#eeb10c;
    font-size:187.5%;
    text-transform: uppercase;
    font-family: novaThin;
    border:1px solid #eeb10c;
    padding:10px 20px 10px 10px;
    display: inline-block;
    height: 50px;
    overflow: hidden;
    width:78%;
}
.addEntryIcon{
    font-size: 315%;
    background:#eeb10c;
    color:#fff;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    top:-8px;
    width:20%;
}
.addEntryIcon:hover{
    background:#fff;
    color:#eeb10c;
    transition: .5s all;
}
.mealQuantity{
    padding:5px;
    background:#eeb10c;
    font-size: 120%;
    color:#fff;
    display: inline-block;
    width:25px;
    height: 25px;
    border-radius: 50%;
}
.mealQuantityContainer{    
    position: relative;
    top:-20px;
    left:-10px;
}
.none{
    display: none;
}
.show,.hideItem{
    position: relative;
    top:-10px;
    display: block;
    border: 1px solid #e6e1e1;
    text-align: center;
    font-size:100%;
    color:#9a9a98;
    padding:5px;
    font-family: novaThin;
}
.hide-item{
    margin-top:20px;
}
.entryName{
    color:#847f7f;
    font-size:100%;
    font-family: semiBold;
    text-transform: lowercase;
    padding:5px 5px 5px 10px;
    background:#f4f3ef;
    border-left:2px solid #eeb10c;
    margin-bottom: 20px;
}
.servingSize,.entryDate{
    color:#847f7f;
    font-family: novaThin;
}
.entryDate{
    margin-bottom: 20px;
}
.entryContainer{
    border-bottom: 1px solid #eeb10c;
    margin:10px 0px;
}
.bodyImg{
    width: 100%;
}
.mealContainer{
    transition: .5s all;
}
.mealContainer:hover{
    background:#f9f9f9;
}
#breadcrumb{
    margin-top:20px;
}
.breadcrumbContainer{
    background:#fff;
    padding:10px 0px;
}
.breadcrumb-link:first-child:before{
    display: none;
}
.breadcrumb-link:before{
    position: absolute;
    display: inline-block;
    content:'|';
    font-family: novaThin;
    left:-10px;
    top:-3px;
    font-size:150%;
    color:#b5b4b2;
}
.breadcrumb-link{
    position: relative;
    margin-right:10px;
    font-family: novaThin;
    color:#b5b4b2;
}
.breadcrumb-link-active{
    font-weight: bold;
    color:#eeb10c;
}
.circumplexModel{
    background:#fff;
    border:2px solid #eeb10c;
    width:600px;
    height:600px;
    position: relative;
}
.circumplexModel:after{
    position: absolute;
    content:"";
    display: inline;
    left: 50%;
    top:0%;
    height:100%;
    background:#c6c0c0;
    width:1px;
}
.circumplexModel:before{
    position: absolute;
    content:"";
    display: inline;
    top: 50%;
    left:0%;
    height:100%;
    background:#c6c0c0;
    width:100%;
    height: 1px;
}
.circumplexModel:hover{
    border:2px solid transparent;
    background:#e8e7e7;
    cursor: pointer;
    transition: .5s all;
}
.circumplexModel .label{
    font-size:112.5%;
}
.mainCircumplex{
    margin-top:20px;
}
.circumplexHeader,.circumplexBody{
    background:#fff;
}
.circumplexHeading{
    margin-top: 20px;
    font-size:156.25%;
    color:#6f6e6e;
    font-family: semiBold;
    display: inline-block;
    border-left:5px solid #eeb10c;
    padding:5px 10px 5px 10px;
    margin-bottom: 10px;
    background:#e8e7e7;
}
.circumplexHeading--helper{
    font-size: 112.5%;
    color:#b8b0b0;
    font-family: novaThin;
    font-style:italic;
    margin-bottom: 20px;
}
.circumplexBody{
    padding-bottom: 20px;
}
.marker{
    width:50px;
    height: 50px;
    border:10px dotted #eeb10c;
    background:#fff;
    position: absolute;
    border-radius: 50%;
    left:46%;
    top:46%;
    transition: all .5s;
   -webkit-animation: spin 2s linear infinite;
   animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.circumplex--button{
    display: block;
    color:#fff;
    background:#eeb10c;
    font-size:187.5%;
    font-family: semiBold;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
    position: relative;
    top:275px;
}
@media(max-width:625px){
    .circumplexModel{
        width:300px;
        height:300px;
        margin:0 auto;
    }
    .marker{
        width:30px;
        height: 30px;
        border-width: 5px;
        left:45%;
        top:44.8%;
    }
}
@media(max-width:1199px) and (min-width:991px){
    .circumplexModel{
        width:500px;
        height: 500px;
    }
    .marker{
        left:45.2%;
        top:45.2%;
    }
}
@media(max-width:991px) and (min-width:625px){
    .circumplexModel{
        margin: 0 auto;
    }
}
@media(max-width:767px) and (min-width:425px){
    .entryContainer{
        max-width:400px;
        margin:0 auto;
    }
}
@media(max-width:1200px) and (min-width:992px){
   .addEntryIcon {
        padding: 0px 5px;
        width:initial;
        font-size:250%;
        top:-6px;
    }
    .mealName{
        width:initial;
        padding: 0px 5px 0px 5px;
        height:40px;
    }
}
@media screen and (max-width:1200px){
    .circumplex-model{
        width: 400px;
        height: 400px;
    }
}
@media screen and (min-width:1200px){
    .circumplex-model{
        width: 500px;
        height: 500px;
    }
}
@media screen and (max-width:993px){    
    #myCarousel{
        display: none;
    }
    #topNav{
        display: none;
    }
    .icon{
        display: block;
    }
    .mobile{
        display: block;
    }
    .foodAppName{
        font-size:120%;
        top:-27px;
        margin-left:0px;
    }
    .left-col img{
        width:70px;
    }
    .mainPage header{
        padding:5px 0;
    }
    .statContainer{
        margin-top:20px;
    }
}
@media screen and (max-width:991px){
    .circumplex-model{
        margin: 0 auto;
    }
    .circumplex-model{
        width: 600px;
        height: 600px;
    }
    .circumplex--button{
        top:0px;
        margin-top: 40px;
        width:100%;
        margin-left:0px;
        margin-right: 0px;
    }
}
@media screen and (max-width:768px){
    .recentEntriesImg{
        margin-bottom:  0px;
    }
    .recentContainer{
        text-align: center;
        max-width:300px;
        margin:20px auto;
    }
}
@media screen and (max-width:630px){
    .circumplex-model{
        width: 400px;
        height: 400px;
    }
}
@media screen and (max-width:425px){
    .form-container{
        padding:0 20px;
    }
    .circumplex-model{
        max-width:300px;
        height: 300px;
        width:100%;
    }
    .mealContainer{
        margin-bottom: 30px;
        border-bottom: 20px solid #efefef;
    }

}




